.app {
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1487147264018-f937fba0c817');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container {
  background-color: white;
  height: 100%;
  width: 80%;
  opacity: 0.7;
  text-align: center;
  overflow: auto;
  padding: 32px;
}

p.quote {
  font-weight: bold;
  margin: 0 auto;
  width: 85%;
  font-size: 48px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

p {
  font-size: 32px;
  text-align: left;
  font-family: 'Caveat', cursive;
}

.salutations {
  text-align: left;
}